@charset "utf-8";
*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: tahoma;
}

.hero
{
	position: absolute;
	width: 100%;
	margin-top: 25%;
	margin-left: 75%;
	transform: translate(-50%,-50%)
}
header
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/office-3295556_1280.jpg);
	height: 100vh;
	background-position: center;
	background-size:cover;
}

h1
{
	color: white;
}


